.blog-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #f1356d;
}

.blog-details div {
    margin: 20px 0;
    text-align: justify;
}

.blog-details button {
    background: #f1356d;
    color: #fafafa;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}